$theme-colors: (
  "blue": #5da2d5,
  "lblue": #c3e1f5,
  "pink": #f78888,
  "lpink": #eebebe,
  "yellow": #f3d250,
  "lyellow": #eee2b0,
  "light": #ececec
);

$spacers:(6: 6rem);

.input-group-text .fas {
  font-size: 20px;
  width: 30px;
}

.input-group-text {
  min-width: 56px;
}

$btn-border-radius: 8rem;
$btn-border-radius-sm: 8rem;
$btn-border-radius-lg: 8rem;

$btn-padding-x: 1.2rem;
$btn-padding-x-sm: 1.2rem;
$btn-padding-x-lg: 1.2rem;

$btn-font-weight: 700;

$input-border-radius: 8rem;
$input-border-radius-sm: 8rem;
$input-border-radius-lg: 8rem;


@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/input-group";
@import "node_modules/bootstrap/scss/jumbotron";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/print";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/utilities";